# Stores Data Cleaning

This notebook was created to take advantage of the Jupyter visualizations for cleaning data.<br>
The commands defined in this notebook will be then used in the **multinational_retail_data_project**

 Performs the cleaning of the user data for 

1. NULL values
2. errors with dates
3. incorrectly typed values
4. rows filled with the wrong information

In [54]:
# need to mount Google Drive to be able to load data from it
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
# import pandas and the RDS table that needs cleaning
file_name = 'stores_data.csv'
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/001. Data Science/005. Ai Core/014. Multinational Data Centralization Project/" + file_name)

In [56]:
df.columns

Index(['Unnamed: 0', 'index', 'address', 'longitude', 'lat', 'locality',
       'store_code', 'staff_numbers', 'opening_date', 'store_type', 'latitude',
       'country_code', 'continent'],
      dtype='object')

In [57]:
df.head()

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     451 non-null    int64
 1   index          451 non-null    int64
 2   address        447 non-null    object
 3   longitude      447 non-null    object
 4   lat            7 non-null      object
 5   locality       447 non-null    object
 6   store_code     448 non-null    object
 7   staff_numbers  448 non-null    object
 8   opening_date   448 non-null    object
 9   store_type     448 non-null    object
 10  latitude       447 non-null    object
 11  country_code   448 non-null    object
 12  continent      448 non-null    object
dtypes: int64(2), object(11)
memory usage: 45.9+ KB

In [59]:
df.duplicated().sum()

0

In [60]:
df.isna().sum()

Unnamed: 0         0
index              0
address            4
longitude          4
lat              444
locality           4
store_code         3
staff_numbers      3
opening_date       3
store_type         3
latitude           4
country_code       3
continent          3
dtype: int64

In [61]:
df[df['lat'].notnull()]

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
63,63,63,6FWDZHD7PW,1ZVU03X2P6,13KJZ890JH,9IBH8Y4Z0S,NRQKZWJ9OZ,BIP8K8JJW2,ZCXWWKF45G,QP74AHEQT0,1CJ5OAU4BR,YELVM536YT,QMAVR5H3LD
172,172,172,UBCIFQLSNY,Q1TJY8H1ZH,2XE1OWOC23,1T6B406CI8,QIUU9SVP51,SKBXAXF5G5,7AHXLXIUEF,O0QJIRC943,3ZR3F89D97,FP8DLXQVGH,LU3E036ZD9
231,231,231,RC99UKMZB2,2YBZ1440V6,OXVE5QR07O,6LVWPU1G64,Y8J0Z2W8O9,2429OB3LMM,0OLAK2I6NS,50IB01SFAZ,L13EQEQODP,HMHIFNLOBN,5586JCLARW
333,333,333,X349GIDWKU,O7NF1FZ74Y,VKA5I8H32X,RX9TCP2RGB,ISEE8A57FE,74BY7HSB6P,A3PMVM800J,0RSNUU3DF5,J3BPB68Z1J,F3AO8V2LHU,GFJQ2AAEQ8
381,381,381,ZBGB54ID4H,SKO4NMRNNF,LACCWDI0SB,CQMHKI78BX,T0R2CQBDUS,GT1FO6YGD4,GMMB02LA9V,B4KVQB3P5Y,AJHOMDOHZ4,OH20I92LX3,SLQBD982C0
414,414,414,XTUAV57DP4,ID819KG3X5,A3O5CBWAMD,RY6K0AUE7F,TUOKF5HAAQ,FRTGHAA34B,13PIY8GD1H,X0FE7E2EOG,AE7EEW4HSS,OYVW925ZL8,XQ953VS0FG
447,447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL

In [62]:
df[df['address'].isnull()]

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
217,217,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,405,405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,437,437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df[df['locality'].isnull()]

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
217,217,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,405,405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,437,437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## To does
1. Drop the stores with "lat" column not null. Those 7 row bring wrong information.
2. There are additional 3 rows that are filled with NaN and should be removed.
3. We must pay attention to the index 0 which represents the online store. That must be kept.

In [64]:
#df = df.drop(['Unnamed: 0', 'index'], axis = 1)
# I found later that Unnamed: 0 is not created when importing from VSCode. So the command should be only
df = df.drop(['index'], axis = 1)

In [65]:
# drop any row with all NaN
df = df[df.notna().any(axis=1)]

In [66]:
df  = df[~df['lat'].notnull()]

In [67]:
df.isna().sum()

Unnamed: 0         0
address            4
longitude          4
lat              444
locality           4
store_code         3
staff_numbers      3
opening_date       3
store_type         3
latitude           4
country_code       3
continent          3
dtype: int64

In [68]:
df.drop(columns = ['lat'], inplace = True)

In [69]:
df.head()

,Unnamed: 0,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe

In [15]:
# for the online store, I prefer removing the "NaN" with the string "online", so to avoid any problem at later stage
# df.loc[0].fillna("online", inplace = True)

Remove the incorrect dates

In [16]:
df['latitude'].astype(float).describe()

count    440.000000
mean      -4.729191
std       25.361348
min     -122.391680
25%       -2.523980
50%       -0.749340
75%        8.466143
max       13.321270
Name: latitude, dtype: float64

In [17]:
df[df['latitude'].astype(float) < 0]

,Unnamed: 0,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
5,5,Flat 92u\nChristian harbors\nPort Charlotte\nN...,53.38333,NaN,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,-0.76667,GB,Europe
6,6,"7 Gillian rue\nWest Robertside\nPH4 8NY, Ruthe...",55.82885,NaN,Rutherglen,RU-C603E990,92,2001-01-04,Super Store,-4.21376,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
441,441,Flat 89\nRicky trafficway\nEast Alicechester\n...,53.00974,NaN,Rhosllanerchrugog,RH-80D609C9,23,2017-01-14,Local,-3.05814,GB,Europe
442,442,Flat 98H\nStephanie squares\nPort Lindsey\nSA6...,57.14369,NaN,Aberdeen,AB-D5ABF437,22,2020-12-15,Local,-2.09814,GB,Europe
443,443,"Studio 31\nGraeme via\nNorth Amanda\nB30 4PJ, ...",53.0233,NaN,Belper,BE-B069E157,40,2019-10-30,Local,-1.48119,GB,Europe
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,NaN,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe

In [18]:
df['country_code'].value_counts()
# all the stores are in the northern emisphere and I already checked some latitudes are not correct
df['latitude'] = df['latitude'].astype(float).abs()

In [19]:
df['longitude'].astype(float).describe()

count    440.000000
mean      50.930031
std        4.496084
min       26.684510
25%       50.238050
50%       51.427080
75%       53.191460
max       57.479080
Name: longitude, dtype: float64

DOB now contains zero errors

In [20]:
# not sure it is really worth modifying that
import datetime
df['opening_date'] = pd.to_datetime(df['opening_date'], infer_datetime_format=True, errors = 'coerce')

In [21]:
df['opening_date'].isnull().sum()

3

In [22]:

staff_mask = df['staff_numbers'].apply(pd.to_numeric, errors='coerce').isnull()
df[staff_mask == True]

,Unnamed: 0,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
31,31,"Flat 69\nSuzanne walk\nEast Michelle\nE80 8HS,...",52.68333,NaN,East Dereham,EA-24B31935,J78,2012-11-09,Outlet,0.93333,GB,Europe
179,179,"Girschnerweg 163\n93597 Angermünde, Dahlem",52.4581,NaN,Dahlem,DA-ACC520AE,30e,1994-03-07,Local,13.28702,DE,Europe
217,217,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
248,248,"7430 Howe Extensions Suite 299\nKellyside, WA ...",39.71734,NaN,Sicklerville,SI-C489938D,80R,1994-02-28,Outlet,74.96933,US,America
341,341,Studio 8\nLydia groves\nNorth Hilarymouth\nIV4...,50.79205,NaN,Southsea,SO-B5B9CB3B,A97,2018-05-08,Super Store,1.08593,GB,Europe
375,375,"Salzstraße 1/9\n74209 Bad Freienwalde, Charlot...",52.53048,NaN,Charlottenburg-Nord,CH-99475026,3n9,1995-03-05,Local,13.29371,DE,Europe
405,405,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
437,437,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [34]:
import numpy as np
mean_staff = df['staff_numbers'][staff_mask == False].astype(int).mean()
print(mean_staff)
df.loc[staff_mask == True, 'staff_numbers'] = mean_staff

46.9954128440367

In [ ]:
np.mean(df['staff_numbers'])

In [ ]:
df[staff_mask == True]

,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
31,"Flat 69\nSuzanne walk\nEast Michelle\nE80 8HS,...",52.68333,NaN,East Dereham,EA-24B31935,46.995413,2012-11-09,Outlet,0.93333,GB,Europe
179,"Girschnerweg 163\n93597 Angermünde, Dahlem",52.4581,NaN,Dahlem,DA-ACC520AE,46.995413,1994-03-07,Local,13.28702,DE,Europe
248,"7430 Howe Extensions Suite 299\nKellyside, WA ...",39.71734,NaN,Sicklerville,SI-C489938D,46.995413,1994-02-28,Outlet,74.96933,US,America
341,Studio 8\nLydia groves\nNorth Hilarymouth\nIV4...,50.79205,NaN,Southsea,SO-B5B9CB3B,46.995413,2018-05-08,Super Store,1.08593,GB,Europe
375,"Salzstraße 1/9\n74209 Bad Freienwalde, Charlot...",52.53048,NaN,Charlottenburg-Nord,CH-99475026,46.995413,1995-03-05,Local,13.29371,DE,Europe

# Summary

In [ ]:
df = df.drop(['index'], axis = 1)
df = df[df.notna().any(axis=1)]
df  = df[~df['lat'].notnull()]
df = df.drop('lat', inplace = True)
df['latitude'] = df['latitude'].astype(float).abs()
import datetime
df['opening_date'] = pd.to_datetime(df['opening_date'], infer_datetime_format=True, errors = 'coerce')
staff_mask = df['staff_numbers'].apply(pd.to_numeric, errors='coerce').isnull()
import numpy as np
mean_staff = np.mean(df['staff_numbers'])
df.loc[staff_mask == True, 'staff_numbers'] = mean_staff